{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
  <h1>{{title}}</h1>
  <div class="row content-justify-center text-center m-5 p-2">
    <img class="img-fluid" src="{{image}}" alt="No image is available for this listing" id="listing-page-image">
  </div>

  {% if user.is_authenticated %}
  <div>
    {% if flag %}
      <form action="{% url 'unwatch' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title}}">
        <input class="btn btn-outline-danger" type="submit" value="unwatch">
      </form>
    {% else %}
      <form action="{% url 'watch' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title}}">
        <input class="btn btn-outline-success" type="submit" value="watch">
      </form>
    {% endif %}  
  </div>
  {% endif %}
  
  <div class="p-1 m-4" id="curr_price">
      <h2>Initial Bid: ${{initial_bid}}</h2>
  </div>

  
  <div class="p-1 m-4" id="curr_price">
    {% if price != None %}
      <h2>Current Price: ${{price}}</h2>
    {% else %}
      <h2>Current Price: ${{initial_bid}}</h2>
    {% endif %}
  </div>

  <div class="p-1 m-4">
    <p><h2>Take part in Auction: </h2></p>
    <form action="{% url 'make a bid' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{title}}" name="title">
      <input type="number" name="bid_amount">
      <input type="submit" class="btn btn-outline-primary" value="Make a bid!">
    </form>
    {% if not bid_validity %}
      <p>Sorry, your bid must be grater than the current price of the item.</p>
    {% endif %}
  </div>

  <div class="p-1 m-4">
    <p><h2>Bidding Details:</h2></p>
    {% if prev_bids %}
      {% for bid in bids %}
        <div>
          <ul>
            <li>${{bid.amount}} bidded by {{bid.usr.username}}</li>
          </ul>
        </div>
      {% endfor %}
    {% else %}
      <div>There are no previous bids be the first bidder!</div>
    {% endif %}
  </div>
  
  

  <div id="description" class="p-4 mt-4">
    <h2>Description</h2>
    <p>{{description}}</p>
  </div>
</div>
{% endblock %}