{% extends "encyclopedia/layout.html" %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block body %}
    {% if not exist %}
    <br><br>
    <h2>Sorry, no article found on "{{title}}"! We encourage you to add one!</h2>
    <br>
    <h3>Click on "Create New Page" to add a new article.</h3>
    {% else %}
    {{html|safe}}
    <br><br><br><br><br>
    <div class="">
        <p class="text-right">
            <h6>To edit this article  <a href="{% url 'edit' title=title %}">click here.</a></h6>
        </p>
    </div>

    {% endif %}
{% endblock %}
